
// C O M M O N  -  S T Y L E S 


//------------------------------------------------------------
// TEXT - CONTENT
.text-primary {
    color: $primary!important;
}
.text-secundary, .text-grey__dark {
    color: $grey_dark!important;
}

//------------------------------------------------------------
// BACKGROUNDS
.bg-primary {
    background-color: $primary!important;
}

//------------------------------------------------------------
// BUTTONS
.btn {

}