
body {
    font-family: $font_avenir_ltsd_light, Open Sans, sans-serif, Arial;
    background: $white_ultra_light;
}
section {
    background-color: $primary;
    color: $white_ultra_light;
}

// Medias
@media(min-width: 0) {

}

@media(min-width: 576px) {
    
}

@media(min-width: 768px) {
    
}

@media(min-width: 992px) {
    
}

@media(min-width: 1200px) {
    
}

@media(min-width: 1450px) {

}